@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.6rem;
    }

    .destinos {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }

    .card {
        width: 90%;
    }
}
