@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
    
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin-top: 8px;
    font-size: 1.1rem;
}

main {
    padding: 40px 20px;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
    color: #555;
}

#loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.destinos {
    display: flex;
    gap: 2.6rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(245, 244, 244);
    width: 280px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    border-radius: 6px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #143C9C;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.card button:hover {
    background-color: #136dc7;
    transition-duration: 0.5s;
}

.mensagem {
    margin-top: 10px;
    font-size: 0.9rem;
    color: green;
}
.maisresultado{
    display: flex;
    align-items: center;
    justify-content: center;
}
#carregar-mais-paises{
    padding: 16px;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #143C9C;
    margin-top: 6rem;
}
#carregar-mais-paises:hover{
    background-color: #136dc7;
    transition-duration: 0.5s;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}