* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
}

header p {
    margin-top: 8px;
    font-size: 1.1rem;
}

main {
    padding: 40px 20px;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
    color: #555;
}
#loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}
.destinos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: rgb(245, 244, 244);
    width: 280px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    border-radius: 6px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card button {
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #1e90ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.card button:hover {
    background-color: #0d5997;
    transition-duration: 0.5s;
}
.mensagem {
    margin-top: 10px;
    font-size: 0.9rem;
    color: green;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}